/* Header.css */

.relative {
    position: relative;
  }
  
  .underline-animation {
    position: absolute;
    bottom: -2px; /* Adjust as needed */
    left: 0;
    width: 0;
    height: 2px; /* Adjust thickness as needed */
    background-color: #6b21a8; /* Purple color for underline */
    transition: width 0.3s ease;
  }
  
  .relative:hover .underline-animation {
    width: 100%;
  }
  